<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ block "title" . }}
      {{ .Site.Title }}
    {{ end }}</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/filipelinhares/ress/master/dist/ress.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.2.14/spectre.css" />
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css" />
    <link rel="canonical" href="{{ .Permalink }}">
    {{ if .RSSLink }}<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Title }}" />{{ end }}
</head>
  <body>
    <div class="container">
      <div class="columns">
        <div class="column col-12">
          {{ partial "header.html" . }}
          {{ block "main" . }}
          {{ end }}
          {{ partial "footer.html" . }}
        </div>
      </div>
    </div>
  </body>
</html>